.message-content{"data-message-id": "#{message.id}"}
  .name-date
    .user-name
      = message.user.name
    .date
      = message.created_at.to_s(:default)
  .message
    = message.text
    = image_tag message.image if message.image.present?
