!!!
%html
  %body
    .chat-side
      .chat-side__header
        .name
          = current_user.name
        .ul.icons
          .li.list
            = link_to do
              = fa_icon 'edit', class: 'icon'
          .li.list
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'

      .chat-side__groups
        .group
          .group__name sample1
          .group__message no message

        .group
          .group__name サンプル1
          .group__message メッセージはないよ

    .chat-main
      .chat-main__header
        .chat-main__header__left
          .chat__name sample group
          .chat__member Member: taro

        .chat-main__header__right
          .chat-edit Edit

      .chat-main__contents

        .ul.message
          .li.user__name taro
          .li.date その時間
          .text 本文

        .ul.message
          .li.user__name taro
          .li.date その時間
          .text 本文

      .chat-main__footer
        .footer__input
          .input__message type a message
          .fa.fa-picture-o
        .footer__send Send
