!!!
%html
  %body
    .side-contents
      = render 'sidebar'

    .main-contents
      .header
        = render 'header'

      .chat
        = render @messages

      .form
        = form_for [@group, @message] do |f|
          = f.text_field :text, class: 'textform', placeholder: 'type a message'
          .icon
            = f.label :image, class: 'icon__image' do
              = fa_icon 'picture-o'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit'
